<nav id="navbar-example2" class="navbar  px-3 mb-3" style="background-color: blue">
  <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1657830776/logoista.png" style="width: 5%;">
    <li class="nav-item dropdown">
      <h1  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: aliceblue;">Juan Perez</h1 >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading4">Cerrar Sesion</a></li>
        </ul>
      </li>

</nav>
<div  style="position: relative;">
<h1 style="color:black; margin-left: 360px; margin-top: 45px;"> JUAN RIARDO PEREZ GUZMAN</h1>

<label style="background-color: darkgrey;margin-top:30px ;margin-left: 420px; border-radius: 7px;">
           <h2 style="color: black;margin-left: 56px;"> Detalles de Usuario</h2>
           <br>
<h3 style="color: black;">Direccion de Correo Electronico </h3>
<br>
<label style="margin-left: 90px;color: black;">juan perez@gmail.com</label>
<br>
<h3 style="color: black;margin-left: 130px">Cedula </h3>
<br>
<label style="margin-left: 125px;color: black;">0150611234</label>
<br>
<h3 style="color: black;margin-left: 105px">Contraseña </h3>
<br>
<label style="margin-left: 125px;color: black;">**************</label>
<label style="margin-left: 55px;color: darkblue;">Modificar</label>

</label>
</div>
<img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1657830776/logoista.png" style="height: 25%;width: 25%; margin-top:30px ;margin-left: 25px;">
