

<div style="position: relative;">

  <img src="assets\img\logo desenfocado4.png" style="width: 100%; ">

</div>
<div style="background-color:mediumblue;">
  <h3 style=" margin-left: 1000px; color: white;margin-top: 10px;">Iniciar Sesion</h3>
</div>


<div  style="position: relative;">
  <h1 style="position: absolute;;margin-top: 250px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Bienvenido</h1>
  <h1 style="position: absolute;;margin-top: 350px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Sistema Gestion de Proyectos</h1>
  <h1 style="position: absolute;;margin-top: 450px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Instituto Superior Tecnologico del Azuay</h1>
  <img src="assets\img\fondo_principal.jpg" style="height: 100%;width: 100%;">

</div>
