<div class="logotransparente">
  <img src="assets\img\logo desenfocado4.png">
</div>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Logo</a>
    <button type="button" class="btn btn-primary">Iniciar Sesion</button>
  </div>
</nav>

<div class="titulos">
  <h1 class="title1">Bienvenido</h1>
  <h1 class="title2">Sistema Gestion de Proyectos</h1>
  <h1 class="title3">Instituto Superior Tecnologico del Azuay</h1>
  <img class="imagenfondo" src="assets\img\fondo_principal.jpg">
</div>
