.logotransparente{
    position: relative;
    background-position: right;
    background-attachment: fixed;
}

#fotoinicio{
    width: 100vh;

}
.titulos{
    position: relative;
}

.imagenfondo{
    height: 81.5vh;
    width: 100%;
    text-align: center;
}

.title1{
    position: absolute;
    margin-top: 250px;
    margin-left: 25px;
    color: darkblue;
    background-color: lightsteelblue;
}

.title2{
    position: absolute;
    margin-top: 350px;
    margin-left: 25px;
    color: darkblue;
    background-color: lightsteelblue;
}

.title3{
    position: absolute;
    margin-top: 450px;
    margin-left: 25px;
    color: darkblue;
    background-color: lightsteelblue;
}
